* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vh;
    height: 100vh;
    background: #f0f2f5
}

input {
    width: 150px;
    margin: 5px;
    padding: 10px;
    outline: none;
    border: 1px black solid;
    border-radius: 15px;
}

form {
    display: flex;
    flex-direction: column;
}