body{
    background: #0084ff;
}
.cardg {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    width:50%;
    height: 25%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    transition: .3s;
}
.cardd {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    width:50%;
    height: 25%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    transition: .3s;
}
.cardg:hover{
    cursor:pointer;
    transform: scale(1.08) rotate(5deg);
}
.cardd:hover{
    cursor:pointer;
    transform: scale(1.08) rotate(-5deg);
}
nav{
    display: flex;
	flex-wrap:wrap;
	justify-content:space-between;
}
.onglets{
    margin-left: 15%;
    border-radius: 15px;
    width: 25%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    text-align: center;
}
.onglets a{
    text-decoration: none;
    transition: .3s;
    font-size: 25px;
    color : #000;
}
.onglets a:hover{
    text-decoration: underline;
    color: #0084ff;
}
.account{
    margin-right: 15%;
    border-radius: 15px;
    width: 25%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    text-align: center;
}
.account a{
    text-decoration: none;
    transition: .3s;
    font-size: 25px;
    color: #000;
}
.account a:hover{
    text-decoration: underline;
    color: #0084ff;
}